@inject UserManager<Member> UserManager
@{
    Member? member = await UserManager.GetUserAsync(User);
}

@if (member != null)
{
    <h1>Merhaba, @member.UserName!</h1>
    <a asp-action="index" asp-controller="storeproduct" class="btn btn-sm btn-outline-dark">Mağaza Ürünleri</a>
}